@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

$font-body: "Roboto" , sans-serif;
$font-display: "Open-Sans", cursive;

$primary-color: navy ;
$color-white: oldlace ;

* {
    padding: 10px 10px 10px;
}