@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

$font-body: "Roboto" , sans-serif;
$font-display: "Open-Sans", cursive;

$primary-color: navy ;
$color-white: oldlace ;

@media screen and (min-width: 480px){
    main { 
        width: 200px ;
    }
}

@media screen and (min-width: 768px) {
    main {
        width: 300px;
    }
    
}

@media screen and (min-width : 991px) {
    main {
        width: 500px;
    }
}
