img {
    height: 250px;
    width: 250px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: bold 16px;
    border-color: black;
}


h2 {
    color: $primary-color;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $primary-color;
    height: 58px;
    border-radius: 19px;
    color: $color-white;
    align-items: center;
    margin-bottom: 0px;
    font-family: $font-display;
}


article {
    background-color: $primary-color;
    display: flex;
    margin-right: 25px ;
    margin-top: 25px;
    color: $color-white;
    justify-content: center;
    font-family: $font-body;
    align-items: center;
    font-size: 25px;
}

p {
    font-family: $font-body;
    font-size: 15px;
    font-weight: 100;
}

