img {
    height: 250px;
    width: 250px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: bold 16px;
    border-color: black;
}


h2 {
    color: $primary-color;
}



p {
    font-family: $font-body;
    font-size: 15px;
    font-weight: 100;
}

.main {
    margin-top: 100px
}