img {
    height: 250px;
    width: 250px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: bold 16px;
    border-color: black;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 50px 50px;
    padding: 15px 15px 15px;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 50px 15px;
    h1 {
        color: $primary-color;
        font-size: xx-large;
    }   
}


h2 {
    color: $primary-color;
    font-size: x-large;
}
.box {
    height: 100px;
    width: 100px;
    background-color: black;
    color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


p {
    font-family: $font-body;
    font-size: 15px;
    font-weight: 100;
   ul {
       color: $primary-color;
        list-style-type: square;
    }
}

.main {
    margin-top: 100px
}