img {
    height: 250px;
    width: 250px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: bold 16px;
    border-color: black;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 50px 50px;
    padding: 15px 15px 15px;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 50px 150px;
    h1 {
        color: $primary-color;
        font-size: xx-large;
    }   
}


h2 {
    color: $color-white;
    font-size: x-large;
    margin: 10px;
}

h3 {
    color: $primary-color;
    font-style: $font-display;
    font-size: x-large;
    margin: 15px;
}

.box {
    height: 100px;
    width: 100px;
    background-color: black;
    color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px;
}


p {
    font-family: $font-body;
    font-size: 15px;
    font-weight: 100;
    margin: 10px;
}


.figure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    background-color: yellow;
    align-items: baseline;
}



#james-list {
    list-style-type: none;
    color: $primary-color;
    margin: 5px;
    font-family: $font-body;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.icon {
    color: $primary-color;
    display: flex;
    justify-content: space-around;
    a { 
        color: $primary-color;
        margin-top: 50px;
        height: 50px;
        width: 50px;
        :hover {
            color: red;
            :visited {
            color: $primary-color;
            }
        }
    }
}
