img {
    height: 250px;
    width: 250px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $primary-color;
    height: 58px;
    border-radius: 19px;
    color: oldlace;
    align-items: center;
    margin-bottom: 0px;
}


article {
    background-color: $primary-color;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 25px ;
    margin-top: 25px;
    color: $color-white;
    align-items: center;
    font-family: $font-body;
}

