.header{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $primary-color;
    height: 58px;
    border-radius: 19px;
    color: $color-white;
    align-items: center;
}


article {
    background-color: $primary-color;
    display: flex;
    margin-right: 25px ;
    margin-top: 25px;
    color: $color-white;
    justify-content: center;
    font-family: $font-body;
    align-items: center;
    font-size: 25px;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $primary-color;
    height: 58px;
    border-radius: 19px;
    color: $color-white;
    align-items: center;
    margin-bottom: 0px;
    font-family: $font-display;
}