.header{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $primary-color;
    height: 58px;
    border-radius: 19px;
    color: $color-white;
    align-items: center;
    a {
        color: $color-white;
    }
}


main {
    background-color: $primary-color;
    color: $color-white;
    width: 100%;
    border-radius: 19px;
    margin: 0px 5px 0px;
    font: $font-display;
}

section {
    background-color: $primary-color;
    color: $color-white;
    width: 100%;
    border-radius: 19px;
    margin: 0px 5px 0px;
    font: $font-display;
}


.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $primary-color;
    height: 58px;
    border-radius: 19px;
    color: $color-white;
    align-items: center;
    margin-bottom: 0px;
    font-family: $font-display;
    a {
        color: $color-white;
    }
}