.header{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $primary-color;
    height: 58px;
    border-radius: 19px;
    color: $color-white;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $primary-color;
    height: 58px;
    border-radius: 19px;
    color: $color-white;
    align-items: center;
    margin-bottom: 0px;
    font-family: $font-display;
}