@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
img {
  height: 250px;
  width: 250px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: bold 16px;
  border-color: black;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px 50px 50px;
  padding: 15px 15px 15px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 50px 150px;
}
.intro h1 {
  color: navy;
  font-size: xx-large;
}

h2 {
  color: oldlace;
  font-size: x-large;
}

h3 {
  color: navy;
  font-style: "Open-Sans", cursive;
  font-size: x-large;
}

.box {
  height: 100px;
  width: 100px;
  background-color: black;
  color: oldlace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 60px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 100;
}

#james-list {
  list-style-type: none;
  color: navy;
  margin: 5px;
}

.header {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: navy;
  height: 58px;
  border-radius: 19px;
  color: oldlace;
  align-items: center;
}

main {
  background-color: navy;
  color: oldlace;
  width: 100%;
  border-radius: 19px;
  margin: 0px 5px 0px;
  font: "Open-Sans", cursive;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: navy;
  height: 58px;
  border-radius: 19px;
  color: oldlace;
  align-items: center;
  margin-bottom: 0px;
  font-family: "Open-Sans", cursive;
}