@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
* {
  margin: 0px;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: bold 16px;
  border-color: black;
}

h2 {
  color: navy;
}

article {
  background-color: navy;
  display: flex;
  margin-right: 25px;
  margin-top: 25px;
  color: oldlace;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  align-items: center;
  font-size: 25px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 100;
}

.header {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: navy;
  height: 58px;
  border-radius: 19px;
  color: oldlace;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: navy;
  height: 58px;
  border-radius: 19px;
  color: oldlace;
  align-items: center;
  margin-bottom: 0px;
  font-family: "Open-Sans", cursive;
}