@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");
* {
  margin: 0px;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: bold 16px;
  border-color: black;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro {
  display: flex;
  flex-direction: column;
  background-color: chartreuse;
  justify-content: flex-start space-around;
}

h2 {
  color: navy;
}

.box {
  height: 100px;
  width: 100px;
  background-color: black;
  color: oldlace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 100;
}
p #james-list {
  color: navy;
  list-style-type: none;
}

.main {
  margin-top: 100px;
}

.header {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: navy;
  height: 58px;
  border-radius: 19px;
  color: oldlace;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: navy;
  height: 58px;
  border-radius: 19px;
  color: oldlace;
  align-items: center;
  margin-bottom: 0px;
  font-family: "Open-Sans", cursive;
}