img {
    height: 250px;
    width: 250px;
    border-radius: 16px;
    display: flex;
    justify-content: end;
    flex-direction: column-reverse;
}

.svg {
    margin-top: 0%;
    margin-left: 0%;
}

.head {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}